<?xml version="1.0"?>
<config>
    <modules>
        <Sankhalainfo_B2bsales>
            <version>0.1.0</version>
        </Sankhalainfo_B2bsales>
    </modules>
    <frontend>
        <routers>
            <b2bsales>
                <use>standard</use>
                <args>
                    <module>Sankhalainfo_B2bsales</module>
                    <frontName>b2bsales</frontName>
                </args>
            </b2bsales>
        </routers>
        <layout>
            <updates>
                <b2bsales>
                    <file>b2bsales.xml</file>
                </b2bsales>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<b2bsales>
				<use>admin</use>
				<args>
					<module>Sankhalainfo_B2bsales</module>
					<frontName>b2bsales</frontName>
				</args>
			</b2bsales>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<b2bsales module="b2bsales">
				<title>B2bsales</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="b2bsales">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>b2bsales/adminhtml_b2bsales</action>
					</items>
				</children>
			</b2bsales>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Sankhalainfo_B2bsales>
							<title>B2bsales Module</title>
							<sort_order>10</sort_order>
						</Sankhalainfo_B2bsales>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<b2bsales>
					<file>b2bsales.xml</file>
				</b2bsales>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <b2bsales>
                <class>Sankhalainfo_B2bsales_Model</class>
                <resourceModel>b2bsales_mysql4</resourceModel>
            </b2bsales>
            <b2bsales_mysql4>
                <class>Sankhalainfo_B2bsales_Model_Mysql4</class>
                <entities>
                    <b2bsales>
                        <table>b2bsales</table>
                    </b2bsales>
                </entities>
            </b2bsales_mysql4>
        </models>
        <resources>
            <b2bsales_setup>
                <setup>
                    <module>Sankhalainfo_B2bsales</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </b2bsales_setup>
            <b2bsales_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </b2bsales_write>
            <b2bsales_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </b2bsales_read>
        </resources>
        <blocks>
            <b2bsales>
                <class>Sankhalainfo_B2bsales_Block</class>
            </b2bsales>
        </blocks>
        <helpers>
            <b2bsales>
                <class>Sankhalainfo_B2bsales_Helper</class>
            </b2bsales>
        </helpers>
    </global>
</config>