<?xml version="1.0"?>
<config>
    <modules>
        <Sankhalainfo_Event>
            <version>0.1.0</version>
        </Sankhalainfo_Event>
    </modules>
    <frontend>
        <routers>
            <event>
                <use>standard</use>
                <args>
                    <module>Sankhalainfo_Event</module>
                    <frontName>event</frontName>
                </args>
            </event>
        </routers>
        <layout>
            <updates>
                <event>
                    <file>event.xml</file>
                </event>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<event>
				<use>admin</use>
				<args>
					<module>Sankhalainfo_Event</module>
					<frontName>event</frontName>
				</args>
			</event>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<event module="event">
				<title>Event</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="event">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>event/adminhtml_event</action>
					</items>
				</children>
			</event>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Sankhalainfo_Event>
							<title>Event Module</title>
							<sort_order>10</sort_order>
						</Sankhalainfo_Event>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<event>
					<file>event.xml</file>
				</event>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <event>
                <class>Sankhalainfo_Event_Model</class>
                <resourceModel>event_mysql4</resourceModel>
            </event>
            <event_mysql4>
                <class>Sankhalainfo_Event_Model_Mysql4</class>
                <entities>
                    <event>
                        <table>event</table>
                    </event>
                </entities>
            </event_mysql4>
        </models>
        <resources>
            <event_setup>
                <setup>
                    <module>Sankhalainfo_Event</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </event_setup>
            <event_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </event_write>
            <event_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </event_read>
        </resources>
        <blocks>
            <event>
                <class>Sankhalainfo_Event_Block</class>
            </event>
        </blocks>
        <helpers>
            <event>
                <class>Sankhalainfo_Event_Helper</class>
            </event>
        </helpers>
    </global>
</config>