<?xml version="1.0"?>
<config>
    <modules>
        <Sankhalainfo_Requestproduct>
            <version>0.1.0</version>
        </Sankhalainfo_Requestproduct>
    </modules>
    <frontend>
        <routers>
            <requestproduct>
                <use>standard</use>
                <args>
                    <module>Sankhalainfo_Requestproduct</module>
                    <frontName>requestproduct</frontName>
                </args>
            </requestproduct>
        </routers>
        <layout>
            <updates>
                <requestproduct>
                    <file>requestproduct.xml</file>
                </requestproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<requestproduct>
				<use>admin</use>
				<args>
					<module>Sankhalainfo_Requestproduct</module>
					<frontName>requestproduct</frontName>
				</args>
			</requestproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<requestproduct module="requestproduct">
				<title>Requestproduct</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="requestproduct">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>requestproduct/adminhtml_requestproduct</action>
					</items>
				</children>
			</requestproduct>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Sankhalainfo_Requestproduct>
							<title>Requestproduct Module</title>
							<sort_order>10</sort_order>
						</Sankhalainfo_Requestproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<requestproduct>
					<file>requestproduct.xml</file>
				</requestproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <requestproduct>
                <class>Sankhalainfo_Requestproduct_Model</class>
                <resourceModel>requestproduct_mysql4</resourceModel>
            </requestproduct>
            <requestproduct_mysql4>
                <class>Sankhalainfo_Requestproduct_Model_Mysql4</class>
                <entities>
                    <requestproduct>
                        <table>requestproduct</table>
                    </requestproduct>
                </entities>
            </requestproduct_mysql4>
        </models>
        <resources>
            <requestproduct_setup>
                <setup>
                    <module>Sankhalainfo_Requestproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </requestproduct_setup>
            <requestproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </requestproduct_write>
            <requestproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </requestproduct_read>
        </resources>
        <blocks>
            <requestproduct>
                <class>Sankhalainfo_Requestproduct_Block</class>
            </requestproduct>
        </blocks>
        <helpers>
            <requestproduct>
                <class>Sankhalainfo_Requestproduct_Helper</class>
            </requestproduct>
        </helpers>
    </global>
</config>